.forgot-password-change-pass-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 432px;
  height: 245px;

  box-sizing: border-box;
  padding-bottom: 24px;
}

@media screen and (max-width: 460px) {
  .forgot-password-change-pass-container {
    width: 310px;

    padding-bottom: 5px;
  }
}