.login-and-signup-otp-container {
  display: flex;
  
  width: 864px;
  height: 433px;
}

.login-and-signup-otp-container > form {
  width: 50%;
}

.login-and-signup-otp-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding-bottom: 24px;
}
