.input-submit {
  width: 384px;
  height: 40px;

  background: linear-gradient(90deg, #eea526 0%, #ffc002 51.04%, #eea526 100%);

  border: none;
  border-radius: 4px;

  font-family: IRANSans;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .input-submit {
    height: 35px;
  }
}

@media screen and (max-width: 460px) {
  .input-submit {
    width: 300px;
  }
}
